*{
    margin: 0px;
    padding: 0px;
}
body>#container{
    width:95%;
    height: 400px;
    display:grid;
    grid-template-columns: repeat(4,22%);
    grid-template-rows: repeat(9,380px);
    gap:20px;
    /* border: 1px soid red; */
  
    margin: auto;
}

#container>div{
    /* border: 1px solid red; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#container>div>p:nth-child(4){
   margin-left: 50px;
   margin-top: -20px;
   text-align: 30px;

}

#container>div>p:nth-child(3){
    /* margin-left: 50px;
    margin-top: -20px; */
    text-align: 150px;
 
 }
#container>div>button{
    height: 20px;
    width:100px;
   
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}